 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .fullpage{
    
    height: 100%;
    width: 100%;
    background-color: coral;
    display: flex;

    /* */
 }
.navbar{
    /* display: flex; */
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 40px;
/*sets the dimensions of the navigation bar  */

}
nav{
    flex: 1;
    list-style: none;
}
  
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
    /* this are for styling list elements */
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li button{
    font-size: 20px;
    color: wheat;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
    
}

nav ul li button:hover{
    color: darkslategray;
}

nav ul li a:hover{
    color: darkslategray;
}

a{
    text-decoration: none;
    color:burlywood;
    font-size: 20px;

}

/* Below is the style for login and register form */

#login-form{
    display: none;
    /*this is for hiding the form*/
}

.form-box{
    width: 380px;
    height: 450px;
    position: relative;
    margin: 2% auto;
    background: goldenrod;
    padding: 10px;
    overflow: hidden;

}
.button-box{
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(red, green, blue, alpha);
    border-radius: 30px;
    
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: .5s;

}

.input-group-login{
    top: 150px;
    position: absolute;
    width: 250px;
    transition: .5s;

}
.input-group-register{
    top: 150px;
    position: absolute;
    width: 250px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3f3f3;
    border: 0;
    outline: none;
    border-radius: 30px;


}

.check-box{
    margin: 30px 10px 34px 0;
}
span{
    color: rgb(78, 40, 40);
    font-size: 12px;
    bottom: 70px;
    position: absolute;
}

#login{
    left: 50px;
}
#login input{
    color: wheat;
    font-size: 15p;
}
#register{
    left: 500px;
}
#register input{
    color: wheat;
    font-size: 15;
}
